*{  margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header section*/

.header-class{
    display: flex;
    width: 1900px;
    height: 850px;
}
.header-flower{ /*flowr addig part*/
    position: absolute;
    left: 1000px;
    top: 50px;
}
.header-title{
    color: #272727;
    font-size: 70px;
    width: 708px;
    padding-top: 190px ;
    padding-left: 240px;
    padding-right: 950px ;
    padding-bottom: 32px;
 

}
.main-header{
    background: rgba(229, 84, 115, 0.10);


}
.header-story{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    padding-left: 240px;
    padding-bottom: 32px; 
    
    

}/*
.header-flower{ 
    width: 635px;
    height: 850px;
    margin-top: 0px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 0%;   
}
*/
.pinkBut{
    background-color: #E55473;
    border: none;
    color: #FFF;
    border-radius: 8px;

    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    margin-left: 240px ; 
    margin-bottom: 147px;

}

/*Our Featured Flowers*/
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
    padding-bottom: 0px;
    

}
.feature-story{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 48px;
    margin-left: 660px;
    width: 594px;
}

.flower-class{
    display: flex;
    gap: 24px;
    padding-left: 240px;
}
.block-pink{
    width: 464px;
    height: 480px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}
.block-blue{
    width: 464px;
    height: 480px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(40, 127, 226, 0.15);
    text-align: center;

}
.block-green{
    width: 464px;
    height: 480px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(139, 223, 84, 0.15);
    text-align: center;
}
.block-container{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.block{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

    margin-bottom: 128px;

}

/*footer*/
footer{
    background-color:  #111010;
    text-align: center;
    width: 1900px;
    height: 449px;    
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
    padding-top: 125px;

}
.footer-story{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;

}
.copyright{
    color: rgba(255, 255, 255, 0.40);
}
/*footer end*/

/*hot deals */
.hot-container{
    width: 1900px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
   
}
.hot-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

    margin-left: 420px;
    padding-top: 230px;
    
}
.hot-story{
    margin-left: 420px;
    padding-top: 25px;
}
.singup{
    margin-left: 175px;
    margin-top: 32px;


}
.deal-pic{
    position: absolute;
    width: 318px;
    height: 420px;
    top: 100px;
    /*pi position*/
    left: 1200px;
    top: 2000px;

}
/*instagram*/

.instagram{
    margin-top: 150px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.insta-story{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin-bottom: 48px;
    margin-left: 660px;
    padding-top: 24px;

}
.insta-pic{
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* letest deals*/
.getDeals{
    
    background-image: url('./Asset/Rectangle 9.png');
    margin-top: 128px;
    margin-bottom: 128px;
    margin-left: 240px;
    height: 449px;
    width: 1440px;
    /* .\Asset\Rectangle 9.png */

}
.getDeals-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
     padding-top: 120px;
    

}
.getDeals-story{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;

}
/* email bar*/
.emailbar input {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-right: 500px;
    margin-right: 20px;
    margin-left: 290px;


    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;

}
.emailbar-container{
    display: flex;
    margin-top: 101pxpx;
}
.sub-but{
    background-color: #E55473;
    border: none;
    color: #FFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;



}
/*flower adding to feture part*/
.flowers-1{
    position: absolute;
    left: 316px;

    top: 1248px;
    width: 310px;
    height: 428px;

}
.flowers-2{
    position: absolute;
    left: 790px;
    top: 1290px;
    width: 370px;
    height: 370px;

}
.flowers-3{
    position: absolute;
    
    top: 1200px;
    left: 1290px;

    width: 314px;
    height: 471px;
    

}
/* bonus section about us */
