*{  margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header section*/
/*
.header-class{
    display: flex;
    
}*/
.header-title{
    color: #272727;
    font-size: 70px;
    width: 708px;
    padding-top: 190px ;
    padding-left: 240px;
    padding-right: 950px ;
    padding-bottom: 32px;
 

}
.main-header{
    background: rgba(229, 84, 115, 0.10);


}
.header-story{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    padding-left: 240px;
    padding-bottom: 32px; 
    
    

}/*
.header-flower{ 
    width: 635px;
    height: 850px;
    margin-top: 0px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 0%;   
}
*/
.pinkBut{
    background-color: #E55473;
    border: none;
    color: #FFF;
    border-radius: 8px;

    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    margin-left: 240px ; 
    margin-bottom: 147px;

}

/*Our Featured Flowers*/
.feature{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.feature-story{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 100px;
}

.flower-class{
    display: flex;
    gap: 24px;
    padding-left: 240px;
}
.block-pink{
    width: 464px;
    height: 538px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}
.block-blue{
    width: 464px;
    height: 480px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(40, 127, 226, 0.15);
    text-align: center;

}
.block-green{
    width: 464px;
    height: 538px;  
    border-radius: 300px 300px 0px 0px;
    background: rgba(139, 223, 84, 0.15);
    text-align: center;
}

/*footer*/
footer{
    background-color:  #111010;
    text-align: center;
    width: 1900px;
    height: 449px;    
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
    padding-top: 125px;

}
.footer-story{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;

}
.copyright{
    color: white;
}
/*footer end*/